/* Jost Black */
@font-face {
  font-family: "Jost ExtraLight";
  font-weight: bold;
  src: url("/fonts/JOST/Jost-ExtraLight.ttf") format("truetype");
}

/* Jost */
@font-face {
  font-family: "Jost";
  font-weight: normal;
  src: url("/fonts/JOST/Jost-Light.ttf") format("truetype");
}

/* Poppins */
@font-face {
  font-family: "Kiona Regular";
  font-weight: normal;
  src: url("/fonts/KIONA/Kiona-Regular.ttf") format("truetype");
}

:global(:root) {
  --color-foreground: #1b1b1b;
  --color-outline: #243959;
  --color-highlight-1: #7181a3;
  --color-highlight-2: #48505d;
  --color-background: #f1e9e4;
  --color-background-highlight: #e1d3c4;

  --font-title: "Jost ExtraLight", serif;
  --font-subtitle: "Jost", serif;
  --font-paragraph: "Kiona Regular", sans-serif;
}

// Set the width and color of the scrollbar
:global(::-webkit-scrollbar) {
  width: 5rem;
}
:global(::-webkit-scrollbar-track) {
  background: var(--color-background);
}
:global(::-webkit-scrollbar-thumb) {
  background: var(--color-outline);
  border-radius: 5rem;
}
:global(::-webkit-scrollbar-thumb:hover) {
  background: var(--color-foreground);
}

:global(body) {
  background: var(--color-outline);
  scroll-behavior: smooth;
}

:global(.title) {
  overflow: hidden;
  height: calc(1.75 * clamp(30rem, 15vw, 130rem));
}

:global(.title h1) {
  font-family: var(--font-title);
  font-size: clamp(30rem, 15vw, 130rem);
  color: var(--color-foreground);
  position: relative;
  top: 0;
  transform: rotate(0deg) skew(0deg);
}

:global(h2) {
  font-size: clamp(20rem, 5vw, 24rem);
}

:global(h2),
:global(h3) {
  font-family: var(--font-subtitle);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 7rem;
  margin-bottom: 20rem;
  line-height: 2;
  color: var(--color-foreground);
}

:global(p) {
  font-family: var(--font-paragraph);
  max-width: 450rem;
  padding-bottom: 10rem;
  line-height: 1.5;
  color: var(--color-foreground);
}
